In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Movies data processing").getOrCreate()

In [2]:
from pyspark.sql.types import  *
from pyspark.sql.functions import col

In [3]:
import numpy as np

In [4]:
movies = spark.read.csv("datasets/movies_metadata.csv", header = True)

In [5]:
movies.dtypes

[('adult', 'string'),
 ('belongs_to_collection', 'string'),
 ('budget', 'string'),
 ('genres', 'string'),
 ('homepage', 'string'),
 ('id', 'string'),
 ('imdb_id', 'string'),
 ('original_language', 'string'),
 ('original_title', 'string'),
 ('overview', 'string'),
 ('popularity', 'string'),
 ('poster_path', 'string'),
 ('production_companies', 'string'),
 ('production_countries', 'string'),
 ('release_date', 'string'),
 ('revenue', 'string'),
 ('runtime', 'string'),
 ('spoken_languages', 'string'),
 ('status', 'string'),
 ('tagline', 'string'),
 ('title', 'string'),
 ('video', 'string'),
 ('vote_average', 'string'),
 ('vote_count', 'string')]

In [6]:
schema = ArrayType(
    StructType([StructField("id", IntegerType()), 
                StructField("name", StringType())]))

In [7]:
from pyspark.sql.functions import from_json

In [8]:
movies = movies.withColumn("adult", (movies.adult).cast("Boolean"))\
         .withColumn("budget", (movies.budget).cast("Integer"))\
         .withColumn("genres", from_json(movies.genres, schema))

In [35]:
movies.count()

45572

In [36]:
movies = movies.filter(movies.genres.isNotNull())

In [37]:
movies.count()

45378

In [38]:
movies.dtypes

[('adult', 'boolean'),
 ('belongs_to_collection', 'string'),
 ('budget', 'int'),
 ('genres', 'array<struct<id:int,name:string>>'),
 ('homepage', 'string'),
 ('id', 'string'),
 ('imdb_id', 'string'),
 ('original_language', 'string'),
 ('original_title', 'string'),
 ('overview', 'string'),
 ('popularity', 'string'),
 ('poster_path', 'string'),
 ('production_companies', 'string'),
 ('production_countries', 'string'),
 ('release_date', 'string'),
 ('revenue', 'string'),
 ('runtime', 'string'),
 ('spoken_languages', 'string'),
 ('status', 'string'),
 ('tagline', 'string'),
 ('title', 'string'),
 ('video', 'string'),
 ('vote_average', 'string'),
 ('vote_count', 'string')]

In [72]:
movies.select(["id","genres"]).show(10, truncate = False)

+-----+-------------------------------------------------------------+
|id   |genres                                                       |
+-----+-------------------------------------------------------------+
|862  |[[16, Animation], [35, Comedy], [10751, Family]]             |
|8844 |[[12, Adventure], [14, Fantasy], [10751, Family]]            |
|15602|[[10749, Romance], [35, Comedy]]                             |
|31357|[[35, Comedy], [18, Drama], [10749, Romance]]                |
|11862|[[35, Comedy]]                                               |
|949  |[[28, Action], [80, Crime], [18, Drama], [53, Thriller]]     |
|11860|[[35, Comedy], [10749, Romance]]                             |
|45325|[[28, Action], [12, Adventure], [18, Drama], [10751, Family]]|
|9091 |[[28, Action], [12, Adventure], [53, Thriller]]              |
|710  |[[12, Adventure], [28, Action], [53, Thriller]]              |
+-----+-------------------------------------------------------------+
only showing top 10 rows

In [73]:
genres = movies.select(["id","genres"])
rdd=genres.rdd

In [74]:
rdd.collect()

[Row(id='862', genres=[Row(id=16, name='Animation'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='8844', genres=[Row(id=12, name='Adventure'), Row(id=14, name='Fantasy'), Row(id=10751, name='Family')]),
 Row(id='15602', genres=[Row(id=10749, name='Romance'), Row(id=35, name='Comedy')]),
 Row(id='31357', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='11862', genres=[Row(id=35, name='Comedy')]),
 Row(id='949', genres=[Row(id=28, name='Action'), Row(id=80, name='Crime'), Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='11860', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='45325', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='9091', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=53, name='Thriller')]),
 Row(id='710', genres=[Row(id=12, name='Adventure'), Row(id=28, name='Action'), Row(id=53, name='Thriller')]),
 Row(id='9087', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='12110', genres=[Row(id=35, name='Comedy'), Row(id=27, name='Horror')]),
 Row(id='21032', genres=[Row(id=10751, name='Family'), Row(id=16, name='Animation'), Row(id=12, name='Adventure')]),
 Row(id='10858', genres=[Row(id=36, name='History'), Row(id=18, name='Drama')]),
 Row(id='1408', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure')]),
 Row(id='524', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='4584', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='5', genres=[Row(id=80, name='Crime'), Row(id=35, name='Comedy')]),
 Row(id='9273', genres=[Row(id=80, name='Crime'), Row(id=35, name='Comedy'), Row(id=12, name='Adventure')]),
 Row(id='11517', genres=[Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=80, name='Crime')]),
 Row(id='8012', genres=[Row(id=35, name='Comedy'), Row(id=53, name='Thriller'), Row(id=80, name='Crime')]),
 Row(id='1710', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='9691', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=80, name='Crime'), Row(id=53, name='Thriller')]),
 Row(id='12665', genres=[Row(id=18, name='Drama'), Row(id=14, name='Fantasy'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='451', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='16420', genres=[Row(id=18, name='Drama')]),
 Row(id='9263', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='17015', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='902', genres=[Row(id=14, name='Fantasy'), Row(id=878, name='Science Fiction'), Row(id=12, name='Adventure')]),
 Row(id='37557', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='9909', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='63', genres=[Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller'), Row(id=9648, name='Mystery')]),
 Row(id='78802', genres=[Row(id=10749, name='Romance'), Row(id=12, name='Adventure')]),
 Row(id='9598', genres=[Row(id=14, name='Fantasy'), Row(id=18, name='Drama'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='47018', genres=[Row(id=36, name='History'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='687', genres=[Row(id=18, name='Drama')]),
 Row(id='139405', genres=[Row(id=12, name='Adventure'), Row(id=36, name='History'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='33689', genres=[Row(id=35, name='Comedy'), Row(id=10751, name='Family'), Row(id=10749, name='Romance')]),
 Row(id='9603', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='34615', genres=[Row(id=18, name='Drama')]),
 Row(id='31174', genres=[Row(id=18, name='Drama'), Row(id=10752, name='War')]),
 Row(id='11443', genres=[Row(id=28, name='Action'), Row(id=80, name='Crime'), Row(id=18, name='Drama'), Row(id=36, name='History')]),
 Row(id='35196', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9312', genres=[Row(id=28, name='Action'), Row(id=14, name='Fantasy')]),
 Row(id='577', genres=[Row(id=14, name='Fantasy'), Row(id=18, name='Drama'), Row(id=35, name='Comedy'), Row(id=53, name='Thriller')]),
 Row(id='11861', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='807', genres=[Row(id=80, name='Crime'), Row(id=9648, name='Mystery'), Row(id=53, name='Thriller')]),
 Row(id='10530', genres=[Row(id=12, name='Adventure'), Row(id=16, name='Animation'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='8391', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='629', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime'), Row(id=53, name='Thriller')]),
 Row(id='117164', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller'), Row(id=18, name='Drama')]),
 Row(id='11448', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='49133', genres=[Row(id=18, name='Drama'), Row(id=10769, name='Foreign')]),
 Row(id='26441', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='97406', genres=[Row(id=18, name='Drama')]),
 Row(id='124057', genres=[]),
 Row(id='9089', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='11010', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='99040', genres=[Row(id=53, name='Thriller'), Row(id=18, name='Drama'), Row(id=9648, name='Mystery')]),
 Row(id='11359', genres=[Row(id=12, name='Adventure'), Row(id=10751, name='Family'), Row(id=14, name='Fantasy')]),
 Row(id='17182', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='2054', genres=[Row(id=10402, name='Music'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='10607', genres=[Row(id=35, name='Comedy')]),
 Row(id='19760', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='9536', genres=[Row(id=35, name='Comedy')]),
 Row(id='11525', genres=[Row(id=28, name='Action'), Row(id=878, name='Science Fiction')]),
 Row(id='40628', genres=[Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='4482', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='10634', genres=[Row(id=35, name='Comedy')]),
 Row(id='755', genres=[Row(id=27, name='Horror'), Row(id=28, name='Action'), Row(id=53, name='Thriller'), Row(id=80, name='Crime')]),
 Row(id='11859', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller'), Row(id=10749, name='Romance')]),
 Row(id='28387', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='48750', genres=[Row(id=18, name='Drama'), Row(id=36, name='History')]),
 Row(id='20927', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='36929', genres=[Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='9102', genres=[Row(id=27, name='Horror'), Row(id=878, name='Science Fiction')]),
 Row(id='124626', genres=[Row(id=99, name='Documentary')]),
 Row(id='27526', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='9623', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='46785', genres=[Row(id=10751, name='Family'), Row(id=18, name='Drama')]),
 Row(id='400', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='880', genres=[Row(id=18, name='Drama'), Row(id=35, name='Comedy')]),
 Row(id='146599', genres=[Row(id=10749, name='Romance'), Row(id=18, name='Drama')]),
 Row(id='188588', genres=[]),
 Row(id='8447', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='10534', genres=[Row(id=28, name='Action'), Row(id=18, name='Drama')]),
 Row(id='17414', genres=[Row(id=12, name='Adventure'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='13997', genres=[Row(id=35, name='Comedy')]),
 Row(id='2086', genres=[Row(id=80, name='Crime'), Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='61548', genres=[Row(id=18, name='Drama')]),
 Row(id='9095', genres=[Row(id=18, name='Drama'), Row(id=27, name='Horror'), Row(id=53, name='Thriller'), Row(id=10749, name='Romance')]),
 Row(id='12158', genres=[Row(id=35, name='Comedy'), Row(id=27, name='Horror'), Row(id=10749, name='Romance')]),
 Row(id='9283', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9208', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='40154', genres=[Row(id=35, name='Comedy')]),
 Row(id='406', genres=[Row(id=18, name='Drama')]),
 Row(id='45549', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='63076', genres=[Row(id=99, name='Documentary')]),
 Row(id='11062', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='13685', genres=[Row(id=35, name='Comedy'), Row(id=80, name='Crime'), Row(id=18, name='Drama')]),
 Row(id='47475', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='2045', genres=[Row(id=18, name='Drama'), Row(id=9648, name='Mystery'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='9614', genres=[Row(id=35, name='Comedy')]),
 Row(id='688', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='11907', genres=[Row(id=18, name='Drama'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='10874', genres=[Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=10402, name='Music'), Row(id=10751, name='Family'), Row(id=12, name='Adventure')]),
 Row(id='89333', genres=[Row(id=99, name='Documentary')]),
 Row(id='96357', genres=[Row(id=80, name='Crime')]),
 Row(id='197', genres=[Row(id=28, name='Action'), Row(id=18, name='Drama'), Row(id=36, name='History'), Row(id=10752, name='War')]),
 Row(id='103', genres=[Row(id=80, name='Crime'), Row(id=18, name='Drama')]),
 Row(id='33542', genres=[Row(id=80, name='Crime'), Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=53, name='Thriller')]),
 Row(id='43566', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='71754', genres=[Row(id=18, name='Drama')]),
 Row(id='43612', genres=[Row(id=35, name='Comedy')]),
 Row(id='51352', genres=[Row(id=99, name='Documentary'), Row(id=18, name='Drama'), Row(id=10769, name='Foreign')]),
 Row(id='16934', genres=[Row(id=35, name='Comedy'), Row(id=80, name='Crime'), Row(id=18, name='Drama')]),
 Row(id='10324', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='78406', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='55731', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='32119', genres=[Row(id=18, name='Drama')]),
 Row(id='11066', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='11104', genres=[Row(id=18, name='Drama'), Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='37975', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='2074', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='27793', genres=[Row(id=14, name='Fantasy')]),
 Row(id='44284', genres=[Row(id=18, name='Drama')]),
 Row(id='290157', genres=[]),
 Row(id='1995-01-01', genres=[]),
 Row(id='110972', genres=[Row(id=35, name='Comedy'), Row(id=10749, name='Romance')]),
 Row(id='32622', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='73067', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance'), Row(id=10752, name='War')]),
 Row(id='11863', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller'), Row(id=9648, name='Mystery'), Row(id=10749, name='Romance')]),
 Row(id='55475', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='124636', genres=[Row(id=10402, name='Music'), Row(id=99, name='Documentary')]),
 Row(id='9101', genres=[Row(id=35, name='Comedy')]),
 Row(id='123360', genres=[Row(id=99, name='Documentary')]),
 Row(id='5757', genres=[Row(id=35, name='Comedy')]),
 Row(id='39428', genres=[Row(id=18, name='Drama')]),
 Row(id='124639', genres=[]),
 Row(id='9302', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='11000', genres=[Row(id=35, name='Comedy')]),
 Row(id='249882', genres=[Row(id=18, name='Drama')]),
 Row(id='16388', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9737', genres=[Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=80, name='Crime'), Row(id=53, name='Thriller')]),
 Row(id='30765', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='10474', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='22279', genres=[Row(id=10749, name='Romance'), Row(id=18, name='Drama'), Row(id=35, name='Comedy')]),
 Row(id='30157', genres=[Row(id=80, name='Crime'), Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='568', genres=[Row(id=18, name='Drama')]),
 Row(id='11780', genres=[Row(id=12, name='Adventure')]),
 Row(id='34996', genres=[Row(id=18, name='Drama'), Row(id=27, name='Horror')]),
 Row(id='414', genres=[Row(id=28, name='Action'), Row(id=80, name='Crime'), Row(id=14, name='Fantasy')]),
 Row(id='649', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='1873', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='5894', genres=[Row(id=35, name='Comedy')]),
 Row(id='1775', genres=[Row(id=28, name='Action'), Row(id=35, name='Comedy')]),
 Row(id='8839', genres=[Row(id=14, name='Fantasy'), Row(id=35, name='Comedy'), Row(id=10751, name='Family')]),
 Row(id='20649', genres=[Row(id=9648, name='Mystery'), Row(id=80, name='Crime'), Row(id=18, name='Drama')]),
 Row(id='10329', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=9648, name='Mystery'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='8963', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller'), Row(id=18, name='Drama')]),
 Row(id='26564', genres=[Row(id=99, name='Documentary')]),
 Row(id='8068', genres=[Row(id=53, name='Thriller'), Row(id=28, name='Action'), Row(id=80, name='Crime')]),
 Row(id='8512', genres=[Row(id=18, name='Drama'), Row(id=9648, name='Mystery'), Row(id=53, name='Thriller')]),
 Row(id='1572', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller')]),
 Row(id='13552', genres=[Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=80, name='Crime'), Row(id=18, name='Drama')]),
 Row(id='259209', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='6520', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9073', genres=[Row(id=12, name='Adventure')]),
 Row(id='10428', genres=[Row(id=28, name='Action'), Row(id=80, name='Crime'), Row(id=53, name='Thriller'), Row(id=18, name='Drama')]),
 Row(id='17447', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9886', genres=[Row(id=12, name='Adventure'), Row(id=28, name='Action'), Row(id=18, name='Drama'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='9482', genres=[Row(id=878, name='Science Fiction')]),
 Row(id='19326', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='9344', genres=[Row(id=18, name='Drama'), Row(id=80, name='Crime')]),
 Row(id='9071', genres=[Row(id=18, name='Drama'), Row(id=35, name='Comedy')]),
 Row(id='8973', genres=[Row(id=9648, name='Mystery'), Row(id=27, name='Horror'), Row(id=53, name='Thriller')]),
 Row(id='15730', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='47608', genres=[Row(id=18, name='Drama'), Row(id=10751, name='Family'), Row(id=10749, name='Romance')]),
 Row(id='2293', genres=[Row(id=10749, name='Romance'), Row(id=35, name='Comedy')]),
 Row(id='9070', genres=[Row(id=28, name='Action'), Row(id=12, name='Adventure'), Row(id=878, name='Science Fiction'), Row(id=10751, name='Family'), Row(id=14, name='Fantasy')]),
 Row(id='68274', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='48787', genres=[Row(id=53, name='Thriller'), Row(id=10769, name='Foreign')]),
 Row(id='34574', genres=[Row(id=27, name='Horror'), Row(id=53, name='Thriller')]),
 Row(id='1642', genres=[Row(id=80, name='Crime'), Row(id=18, name='Drama'), Row(id=9648, name='Mystery'), Row(id=53, name='Thriller'), Row(id=28, name='Action')]),
 Row(id='11472', genres=[Row(id=35, name='Comedy')]),
 Row(id='36196', genres=[Row(id=35, name='Comedy')]),
 Row(id='11980', genres=[Row(id=14, name='Fantasy'), Row(id=27, name='Horror'), Row(id=53, name='Thriller')]),
 Row(id='58372', genres=[Row(id=14, name='Fantasy'), Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='32646', genres=[Row(id=18, name='Drama')]),
 Row(id='10533', genres=[Row(id=18, name='Drama'), Row(id=36, name='History'), Row(id=10749, name='Romance')]),
 Row(id='56088', genres=[Row(id=99, name='Documentary')]),
 Row(id='10802', genres=[Row(id=18, name='Drama')]),
 Row(id='10149', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='18402', genres=[Row(id=35, name='Comedy')]),
 Row(id='9348', genres=[Row(id=878, name='Science Fiction'), Row(id=27, name='Horror'), Row(id=28, name='Action')]),
 Row(id='139408', genres=[Row(id=18, name='Drama')]),
 Row(id='281', genres=[Row(id=80, name='Crime'), Row(id=18, name='Drama'), Row(id=878, name='Science Fiction'), Row(id=53, name='Thriller')]),
 Row(id='5967', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='79593', genres=[Row(id=53, name='Thriller')]),
 Row(id='47939', genres=[Row(id=18, name='Drama'), Row(id=14, name='Fantasy')]),
 Row(id='36834', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9090', genres=[Row(id=35, name='Comedy')]),
 Row(id='3512', genres=[Row(id=28, name='Action'), Row(id=53, name='Thriller')]),
 Row(id='52856', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama'), Row(id=10751, name='Family')]),
 Row(id='77350', genres=[Row(id=99, name='Documentary')]),
 Row(id='9560', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='9804', genres=[Row(id=12, name='Adventure'), Row(id=28, name='Action')]),
 Row(id='31611', genres=[Row(id=18, name='Drama')]),
 Row(id='65796', genres=[Row(id=28, name='Action'), Row(id=37, name='Western')]),
 Row(id='49805', genres=[Row(id=18, name='Drama')]),
 Row(id='26258', genres=[Row(id=12, name='Adventure'), Row(id=28, name='Action'), Row(id=35, name='Comedy'), Row(id=80, name='Crime'), Row(id=10751, name='Family')]),
 Row(id='50797', genres=[Row(id=18, name='Drama')]),
 Row(id='19155', genres=[Row(id=18, name='Drama'), Row(id=10752, name='War')]),
 Row(id='76', genres=[Row(id=18, name='Drama'), Row(id=10749, name='Romance')]),
 Row(id='11017', genres=[Row(id=35, name='Comedy')]),
 Row(id='37141', genres=[Row(id=18, name='Drama'), Row(id=53, name='Thriller')]),
 Row(id='9382', genres=[Row(id=35, name='Comedy'), Row(id=18, name='Drama')]),
 Row(id='6715', genres=[Row(id=18, name='Drama'), Row(id=10751, name='Family')]),

In [75]:
movie_genre = rdd.flatMap(lambda r: map(lambda g: (r.id, g.id), r.genres))
genre = rdd.flatMap(lambda r: r.genres)

In [76]:
movie_genre.count()

90881

In [77]:
genre.count()

90881

In [78]:
movie_genre.collect()

[('862', 16),
 ('862', 35),
 ('862', 10751),
 ('8844', 12),
 ('8844', 14),
 ('8844', 10751),
 ('15602', 10749),
 ('15602', 35),
 ('31357', 35),
 ('31357', 18),
 ('31357', 10749),
 ('11862', 35),
 ('949', 28),
 ('949', 80),
 ('949', 18),
 ('949', 53),
 ('11860', 35),
 ('11860', 10749),
 ('45325', 28),
 ('45325', 12),
 ('45325', 18),
 ('45325', 10751),
 ('9091', 28),
 ('9091', 12),
 ('9091', 53),
 ('710', 12),
 ('710', 28),
 ('710', 53),
 ('9087', 35),
 ('9087', 18),
 ('9087', 10749),
 ('12110', 35),
 ('12110', 27),
 ('21032', 10751),
 ('21032', 16),
 ('21032', 12),
 ('10858', 36),
 ('10858', 18),
 ('1408', 28),
 ('1408', 12),
 ('524', 18),
 ('524', 80),
 ('4584', 18),
 ('4584', 10749),
 ('5', 80),
 ('5', 35),
 ('9273', 80),
 ('9273', 35),
 ('9273', 12),
 ('11517', 28),
 ('11517', 35),
 ('11517', 80),
 ('8012', 35),
 ('8012', 53),
 ('8012', 80),
 ('1710', 18),
 ('1710', 53),
 ('9691', 28),
 ('9691', 12),
 ('9691', 80),
 ('9691', 53),
 ('12665', 18),
 ('12665', 14),
 ('12665', 878),
 ('12665', 53),
 ('451', 18),
 ('451', 10749),
 ('16420', 18),
 ('9263', 35),
 ('9263', 18),
 ('9263', 10751),
 ('17015', 18),
 ('17015', 10749),
 ('902', 14),
 ('902', 878),
 ('902', 12),
 ('37557', 18),
 ('37557', 80),
 ('9909', 18),
 ('9909', 80),
 ('63', 878),
 ('63', 53),
 ('63', 9648),
 ('78802', 10749),
 ('78802', 12),
 ('9598', 14),
 ('9598', 18),
 ('9598', 35),
 ('9598', 10751),
 ('47018', 36),
 ('47018', 18),
 ('47018', 10749),
 ('687', 18),
 ('139405', 12),
 ('139405', 36),
 ('139405', 18),
 ('139405', 10751),
 ('33689', 35),
 ('33689', 10751),
 ('33689', 10749),
 ('9603', 35),
 ('9603', 18),
 ('9603', 10749),
 ('34615', 18),
 ('31174', 18),
 ('31174', 10752),
 ('11443', 28),
 ('11443', 80),
 ('11443', 18),
 ('11443', 36),
 ('35196', 18),
 ('35196', 10749),
 ('9312', 28),
 ('9312', 14),
 ('577', 14),
 ('577', 18),
 ('577', 35),
 ('577', 53),
 ('11861', 18),
 ('11861', 10749),
 ('807', 80),
 ('807', 9648),
 ('807', 53),
 ('10530', 12),
 ('10530', 16),
 ('10530', 18),
 ('10530', 10751),
 ('8391', 18),
 ('8391', 10749),
 ('629', 18),
 ('629', 80),
 ('629', 53),
 ('117164', 28),
 ('117164', 53),
 ('117164', 18),
 ('11448', 35),
 ('11448', 10749),
 ('49133', 18),
 ('49133', 10769),
 ('26441', 28),
 ('26441', 12),
 ('26441', 35),
 ('26441', 10751),
 ('97406', 18),
 ('9089', 35),
 ('9089', 18),
 ('9089', 10749),
 ('11010', 35),
 ('11010', 18),
 ('11010', 10749),
 ('99040', 53),
 ('99040', 18),
 ('99040', 9648),
 ('11359', 12),
 ('11359', 10751),
 ('11359', 14),
 ('17182', 18),
 ('17182', 53),
 ('2054', 10402),
 ('2054', 18),
 ('2054', 10751),
 ('10607', 35),
 ('19760', 35),
 ('19760', 10749),
 ('9536', 35),
 ('11525', 28),
 ('11525', 878),
 ('40628', 18),
 ('40628', 10751),
 ('4482', 35),
 ('4482', 10749),
 ('10634', 35),
 ('755', 27),
 ('755', 28),
 ('755', 53),
 ('755', 80),
 ('11859', 28),
 ('11859', 53),
 ('11859', 10749),
 ('28387', 35),
 ('28387', 18),
 ('28387', 10749),
 ('48750', 18),
 ('48750', 36),
 ('20927', 18),
 ('20927', 10749),
 ('36929', 35),
 ('36929', 10751),
 ('9102', 27),
 ('9102', 878),
 ('124626', 99),
 ('27526', 18),
 ('27526', 53),
 ('9623', 18),
 ('9623', 53),
 ('46785', 10751),
 ('46785', 18),
 ('400', 18),
 ('400', 80),
 ('880', 18),
 ('880', 35),
 ('146599', 10749),
 ('146599', 18),
 ('8447', 18),
 ('8447', 10749),
 ('10534', 28),
 ('10534', 18),
 ('17414', 12),
 ('17414', 35),
 ('17414', 10751),
 ('13997', 35),
 ('2086', 80),
 ('2086', 18),
 ('2086', 53),
 ('61548', 18),
 ('9095', 18),
 ('9095', 27),
 ('9095', 53),
 ('9095', 10749),
 ('12158', 35),
 ('12158', 27),
 ('12158', 10749),
 ('9283', 35),
 ('9283', 18),
 ('9283', 10749),
 ('9208', 28),
 ('9208', 12),
 ('9208', 18),
 ('9208', 53),
 ('40154', 35),
 ('406', 18),
 ('45549', 28),
 ('45549', 12),
 ('45549', 18),
 ('45549', 878),
 ('45549', 53),
 ('63076', 99),
 ('11062', 18),
 ('11062', 53),
 ('13685', 35),
 ('13685', 80),
 ('13685', 18),
 ('47475', 35),
 ('47475', 10749),
 ('2045', 18),
 ('2045', 9648),
 ('2045', 878),
 ('2045', 53),
 ('9614', 35),
 ('688', 18),
 ('688', 10749),
 ('11907', 18),
 ('11907', 35),
 ('11907', 10751),
 ('10874', 28),
 ('10874', 35),
 ('10874', 10402),
 ('10874', 10751),
 ('10874', 12),
 ('89333', 99),
 ('96357', 80),
 ('197', 28),
 ('197', 18),
 ('197', 36),
 ('197', 10752),
 ('103', 80),
 ('103', 18),
 ('33542', 80),
 ('33542', 28),
 ('33542', 35),
 ('33542', 53),
 ('43566', 18),
 ('43566', 53),
 ('71754', 18),
 ('43612', 35),
 ('51352', 99),
 ('51352', 18),
 ('51352', 10769),
 ('16934', 35),
 ('16934', 80),
 ('16934', 18),
 ('10324', 35),
 ('10324', 10749),
 ('78406', 35),
 ('78406', 18),
 ('55731', 28),
 ('55731', 12),
 ('55731', 35),
 ('55731', 18),
 ('55731', 10751),
 ('32119', 18),
 ('11066', 35),
 ('11066', 10749),
 ('11104', 18),
 ('11104', 35),
 ('11104', 10749),
 ('37975', 18),
 ('37975', 10749),
 ('2074', 35),
 ('2074', 10749),
 ('27793', 14),
 ('44284', 18),
 ('110972', 35),
 ('110972', 10749),
 ('32622', 35),
 ('32622', 18),
 ('73067', 18),
 ('73067', 10749),
 ('73067', 10752),
 ('11863', 28),
 ('11863', 53),
 ('11863', 9648),
 ('11863', 10749),
 ('55475', 35),
 ('55475', 18),
 ('55475', 10749),
 ('124636', 10402),
 ('124636', 99),
 ('9101', 35),
 ('123360', 99),
 ('5757', 35),
 ('39428', 18),
 ('9302', 18),
 ('9302', 10749),
 ('11000', 35),
 ('249882', 18),
 ('16388', 35),
 ('16388', 18),
 ('16388', 10749),
 ('9737', 28),
 ('9737', 35),
 ('9737', 80),
 ('9737', 53),
 ('30765', 28),
 ('30765', 12),
 ('30765', 18),
 ('30765', 10751),
 ('10474', 18),
 ('10474', 80),
 ('22279', 10749),
 ('22279', 18),
 ('22279', 35),
 ('30157', 80),
 ('30157', 35),
 ('30157', 18),
 ('30157', 53),
 ('568', 18),
 ('11780', 12),
 ('34996', 18),
 ('34996', 27),
 ('414', 28),
 ('414', 80),
 ('414', 14),
 ('649', 18),
 ('649', 10749),
 ('1873', 18),
 ('1873', 53),
 ('5894', 35),
 ('1775', 28),
 ('1775', 35),
 ('8839', 14),
 ('8839', 35),
 ('8839', 10751),
 ('20649', 9648),
 ('20649', 80),
 ('20649', 18),
 ('10329', 28),
 ('10329', 12),
 ('10329', 18),
 ('10329', 9648),
 ('10329', 878),
 ('10329', 53),
 ('8963', 28),
 ('8963', 53),
 ('8963', 18),
 ('26564', 99),
 ('8068', 53),
 ('8068', 28),
 ('8068', 80),
 ('8512', 18),
 ('8512', 9648),
 ('8512', 53),
 ('1572', 28),
 ('1572', 53),
 ('13552', 28),
 ('13552', 35),
 ('13552', 80),
 ('13552', 18),
 ('259209', 18),
 ('259209', 80),
 ('6520', 28),
 ('6520', 12),
 ('6520', 18),
 ('6520', 10749),
 ('9073', 12),
 ('10428', 28),
 ('10428', 80),
 ('10428', 53),
 ('10428', 18),
 ('17447', 35),
 ('17447', 18),
 ('17447', 10749),
 ('9886', 12),
 ('9886', 28),
 ('9886', 18),
 ('9886', 878),
 ('9886', 53),
 ('9482', 878),
 ('19326', 35),
 ('19326', 18),
 ('9344', 18),
 ('9344', 80),
 ('9071', 18),
 ('9071', 35),
 ('8973', 9648),
 ('8973', 27),
 ('8973', 53),
 ('15730', 35),
 ('15730', 18),
 ('47608', 18),
 ('47608', 10751),
 ('47608', 10749),
 ('2293', 10749),
 ('2293', 35),
 ('9070', 28),
 ('9070', 12),
 ('9070', 878),
 ('9070', 10751),
 ('9070', 14),
 ('68274', 35),
 ('68274', 18),
 ('68274', 10749),
 ('48787', 53),
 ('48787', 10769),
 ('34574', 27),
 ('34574', 53),
 ('1642', 80),
 ('1642', 18),
 ('1642', 9648),
 ('1642', 53),
 ('1642', 28),
 ('11472', 35),
 ('36196', 35),
 ('11980', 14),
 ('11980', 27),
 ('11980', 53),
 ('58372', 14),
 ('58372', 35),
 ('58372', 18),
 ('32646', 18),
 ('10533', 18),
 ('10533', 36),
 ('10533', 10749),
 ('56088', 99),
 ('10802', 18),
 ('10149', 35),
 ('10149', 18),
 ('18402', 35),
 ('9348', 878),
 ('9348', 27),
 ('9348', 28),
 ('139408', 18),
 ('281', 80),
 ('281', 18),
 ('281', 878),
 ('281', 53),
 ('5967', 18),
 ('5967', 10749),
 ('79593', 53),
 ('47939', 18),
 ('47939', 14),
 ('36834', 18),
 ('36834', 10749),
 ('9090', 35),
 ('3512', 28),
 ('3512', 53),
 ('52856', 35),
 ('52856', 18),
 ('52856', 10751),
 ('77350', 99),
 ('9560', 18),
 ('9560', 10749),
 ('9804', 12),
 ('9804', 28),
 ('31611', 18),
 ('65796', 28),
 ('65796', 37),
 ('49805', 18),
 ('26258', 12),
 ('26258', 28),
 ('26258', 35),
 ('26258', 80),
 ('26258', 10751),
 ('50797', 18),
 ('19155', 18),
 ('19155', 10752),
 ('76', 18),
 ('76', 10749),
 ('11017', 35),
 ('37141', 18),
 ('37141', 53),
 ('9382', 35),
 ('9382', 18),
 ('6715', 18),
 ('6715', 10751),
 ('18256', 53),
 ('18256', 18),
 ('18256', 27),
 ('18256', 9648),
 ('22625', 18),
 ('22625', 10751),
 ('22625', 10749),
 ('2292', 35),
 ('1909', 10749),
 ('1909', 18),
 ('1909', 35),
 ('8984', 18),
 ('8984', 53),
 ('8984', 80),
 ('8984', 9648),
 ('8984', 10749),
 ('61813', 53),
 ('4954', 28),
 ('4954', 12),
 ('4954', 53),
 ('62488', 80),
 ('62488', 35),
 ('62488', 14),
 ('10531', 18),
 ('10531', 53),
 ('10531', 9648),
 ('11929', 80),
 ('11929', 18),
 ('11929', 9648),
 ('8467', 35),
 ('10451', 35),
 ('10451', 18),
 ('10451', 10749),
 ('20156', 18),
 ('20156', 9648),
 ('18395', 53),
 ('18395', 35),
 ('18395', 80),
 ('18395', 10749),
 ('522', 35),
 ('522', 18),
 ('522', 36),
 ('397', 35),
 ('397', 10749),
 ('10525', 35),
 ('10525', 18),
 ('10525', 10749),
 ('27985', 28),
 ('27985', 12),
 ('27985', 18),
 ('27985', 10751),
 ('15789', 10749),
 ('15789', 16),
 ('15789', 10751),
 ('15789', 35),
 ('15789', 12),
 ('27303', 18),
 ('27303', 53),
 ('21183', 18),
 ('21183', 10751),
 ('21183', 14),
 ('10954', 36),
 ('10954', 18),
 ('47867', 18),
 ('47867', 10751),
 ('47867', 14),
 ('43475', 14),
 ('43475', 16),
 ('43475', 878),
 ('43475', 10751),
 ('72031', 18),
 ('72031', 28),
 ('72031', 53),
 ('72031', 80),
 ('14275', 99),
 ('1024', 18),
 ('1024', 14),
 ('17207', 35),
 ('17207', 10751),
 ('13701', 18),
 ('13701', 10402),
 ('13701', 10749),
 ('14819', 35),
 ('14819', 10751),
 ('14819', 18),
 ('32631', 28),
 ('32631', 53),
 ('11777', 35),
 ('11777', 18),
 ('11777', 10749),
 ('628', 27),
 ('628', 10749),
 ('87729', 18),
 ('87729', 10749),
 ('18713', 35),
 ('18713', 80),
 ('6280', 35),
 ('6280', 10751),
 ('6280', 10749),
 ('9061', 28),
 ('9061', 18),
 ('9061', 9648),
 ('9061', 53),
 ('37108', 12),
 ('37108', 14),
 ('37108', 35),
 ('37108', 878),
 ('37108', 10751),
 ('6071', 28),
 ('6071', 80),
 ('6071', 18),
 ('6071', 53),
 ('11', 12),
 ('11', 28),
 ('11', 878),
 ('9587', 18),
 ('9587', 10749),
 ('19101', 18),
 ('19101', 10751),
 ('19101', 14),
 ('49980', 18),
 ('17961', 80),
 ('17961', 18),
 ('18183', 18),
 ('18183', 10749),
 ('4476', 12),
 ('4476', 18),
 ('4476', 10749),
 ('4476', 10752),
 ('11008', 12),
 ('11008', 35),
 ('11008', 10751),
 ('47504', 28),
 ('47504', 18),
 ('32325', 80),
 ('32325', 18),
 ('43742', 18),
 ('43742', 10749),
 ('28313', 18),
 ('11318', 35),
 ('11318', 18),
 ('11318', 36),
 ('3036', 18),
 ('3036', 27),
 ('3036', 878),
 ('3036', 10749),
 ('40490', 28),
 ('40490', 35),
 ('40490', 10751),
 ('24070', 35),
 ('24070', 18),
 ('24070', 10749),
 ('8986', 35),
 ('8986', 10749),
 ('10510', 14),
 ('10510', 18),
 ('10510', 10751),
 ('17402', 35),
 ('17402', 10749),
 ('38722', 35),
 ('38722', 18),
 ('8438', 80),
 ('8438', 18),
 ('11593', 18),
 ('11593', 35),
 ('1945', 18),
 ('1945', 53),
 ('39310', 80),
 ('39310', 18),
 ('109560', 28),
 ('109560', 53),
 ('109560', 80),
 ('109560', 18),
 ('56428', 27),
 ('63105', 878),
 ('63105', 28),
 ('63105', 53),
 ('131957', 18),
 ('131957', 10749),
 ('241', 80),
 ('241', 53),
 ('241', 18),
 ('9058', 35),
 ('9058', 18),
 ('9058', 10749),
 ('527', 18),
 ('18220', 18),
 ('18220', 10749),
 ('18220', 53),
 ('6950', 28),
 ('6950', 18),
 ('6950', 878),
 ('6950', 53),
 ('101', 53),
 ('101', 80),
 ('101', 18),
 ('63020', 35),
 ('63020', 18),
 ('63020', 10749),
 ('2307', 35),
 ('2307', 18),
 ('2307', 10749),
 ('680', 53),
 ('680', 80),
 ('41478', 18),
 ('25296', 35),
 ('25296', 18),
 ('40156', 18),
 ('40156', 10749),
 ('11450', 36),
 ('11450', 18),
 ('30304', 18),
 ('30304', 36),
 ('10452', 18),
 ('10452', 36),
 ('12106', 28),
 ('12106', 37),
 ('161495', 18),
 ('161495', 35),
 ('3586', 18),
 ('3586', 35),
 ('110', 18),
 ('110', 9648),
 ('110', 10749),
 ('108', 18),
 ('108', 10402),
 ('108', 9648),
 ('109', 35),
 ('109', 18),
 ('109', 9648),
 ('159185', 18),
 ('36357', 35),
 ('36357', 10751),
 ('36357', 10770),
 ('92769', 27),
 ('92769', 18),
 ('28033', 35),
 ('28033', 18),
 ('22586', 16),
 ('14334', 18),
 ('14334', 10751),
 ('14334', 14),
 ('2636', 28),
 ('2636', 53),
 ('2164', 28),
 ('2164', 12),
 ('2164', 878),
 ('11395', 14),
 ('11395', 18),
 ('11395', 35),
 ('11395', 10751),
 ('278', 18),
 ('278', 80),
 ('9905', 80),
 ('9905', 53),
 ('87078', 18),
 ('87078', 53),
 ('12527', 35),
 ('12527', 18),
 ('20306', 80),
 ('20306', 35),
 ('36614', 35),
 ('36614', 18),
 ('36614', 10749),
 ('27993', 35),
 ('31439', 18),
 ('31439', 10749),
 ('31439', 10752),
 ('9067', 28),
 ('9067', 35),
 ('9067', 14),
 ('9067', 878),
 ('9059', 27),
 ('9059', 35),
 ('9059', 53),
 ('193', 878),
 ('193', 28),
 ('193', 12),
 ('193', 53),
 ('25066', 80),
 ('25066', 27),
 ('25066', 53),
 ('46797', 18),
 ('46797', 10749),
 ('12122', 53),
 ('12122', 27),
 ('12122', 878),
 ('11381', 35),
 ('32636', 18),
 ('32636', 10749),
 ('36141', 53),
 ('36141', 80),
 ('95963', 18),
 ('95963', 10752),
 ('1587', 10749),
 ('1587', 18),
 ('9271', 28),
 ('9271', 80),
 ('9271', 878),
 ('9271', 53),
 ('2064', 35),
 ('2064', 18),
 ('2064', 10749),
 ('19855', 18),
 ('60855', 35),
 ('60855', 10749),
 ('236', 18),
 ('236', 35),
 ('236', 10749),
 ('48287', 35),
 ('48287', 18),
 ('48287', 10751),
 ('3049', 35),
 ('3049', 9648),
 ('2759', 18),
 ('2759', 35),
 ('12635', 18),
 ('12635', 10402),
 ('10497', 53),
 ('10497', 18),
 ('10497', 10749),
 ('11382', 28),
 ('11382', 35),
 ('11382', 53),
 ('9331', 28),
 ('9331', 18),
 ('9331', 53),
 ('10731', 18),
 ('10731', 53),
 ('10731', 80),
 ('10731', 9648),
 ('10464', 35),
 ('10464', 18),
 ('10464', 10751),
 ('10464', 10749),
 ('34152', 35),
 ('34152', 18),
 ('9495', 14),
 ('9495', 28),
 ('9495', 53),
 ('29973', 18),
 ('888', 14),
 ('888', 35),
 ('888', 10751),
 ('13', 35),
 ('13', 18),
 ('13', 10749),
 ('712', 35),
 ('712', 18),
 ('712', 10749),
 ('16295', 10749),
 ('16295', 18),
 ('16295', 80),
 ('48992', 35),
 ('48992', 18),
 ('48992', 10749),
 ('10879', 28),
 ('10879', 35),
 ('10879', 10749),
 ('10660', 35),
 ('10660', 18),
 ('10660', 10749),
 ('10714', 12),
 ('10714', 18),
 ('10714', 10751),
 ('41647', 99),
 ('41647', 10769),
 ('8587', 10751),
 ('8587', 16),
 ('8587', 18),
 ('1689', 18),
 ('1689', 36),
 ('11596', 27),
 ('11596', 53),
 ('11596', 9648),
 ('11596', 14),
 ('854', 10749),
 ('854', 35),
 ('854', 80),
 ('854', 14),
 ('9359', 28),
 ('9359', 12),
 ('9359', 35),
 ('9359', 18),
 ('9359', 37),
 ('23333', 18),
 ('36593', 35),
 ('36593', 80),
 ('12280', 35),
 ('12280', 18),
 ('2788', 18),
 ('10427', 80),
 ('10427', 18),
 ('10427', 53),
 ('11011', 35),
 ('11011', 10751),
 ('49803', 18),
 ('8987', 28),
 ('8987', 12),
 ('8987', 80),
 ('8987', 53),
 ('1637', 28),
 ('1637', 12),
 ('1637', 80),
 ('15128', 35),
 ('15128', 10749),
 ('8831', 53),
 ('8831', 878),
 ('8831', 28),
 ('8831', 80),
 ('36955', 28),
 ('36955', 53),
 ('10449', 18),
 ('10449', 10749),
 ('10395', 14),
 ('12160', 18),
 ('12160', 28),
 ('12160', 37),
 ('40480', 28),
 ('40480', 80),
 ('40480', 10749),
 ('40480', 53),
 ('52038', 35),
 ('52038', 18),
 ('29444', 35),
 ('29444', 18),
 ('26352', 28),
 ('26352', 35),
 ('26352', 80),
 ('39953', 18),
 ('41580', 18),
 ('315', 28),
 ('315', 80),
 ('22067', 80),
 ('22067', 18),
 ('22067', 10749),
 ('18242', 16),
 ('18242', 878),
 ('11667', 28),
 ('11667', 12),
 ('11667', 53),
 ('32502', 28),
 ('32502', 35),
 ('28732', 28),
 ('28732', 12),
 ('28732', 80),
 ('28732', 18),
 ('28732', 53),
 ('75555', 27),
 ('75555', 53),
 ('42981', 99),
 ('278939', 10749),
 ('278939', 12),
 ('278939', 80),
 ('278939', 18),
 ('291731', 53),
 ('291731', 18),
 ('226229', 28),
 ('226229', 53),
 ('203119', 35),
 ('316098', 99),
 ('8011', 28),
 ('8011', 14),
 ('8011', 878),
 ('2654', 27),
 ('2654', 9648),
 ('2654', 53),
 ('18069', 18),
 ('18069', 10749),
 ('19092', 80),
 ('19092', 18),
 ('2758', 35),
 ('2758', 10751),
 ('2758', 14),
 ('38129', 35),
 ('10436', 18),
 ('10436', 10749),
 ('13595', 35),
 ('13595', 80),
 ('13595', 10402),
 ('46094', 35),
 ('46094', 10751),
 ('9409', 28),
 ('9409', 35),
 ('11853', 28),
 ('11853', 12),
 ('11853', 35),
 ('11853', 18),
 ('11853', 37),
 ('16771', 35),
 ('16771', 18),
 ('16771', 10749),
 ('46924', 18),
 ('46924', 35),
 ('46924', 14),
 ...]

In [79]:
genre = genre.map(tuple)

In [80]:
genre.collect()

[(16, 'Animation'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (12, 'Adventure'),
 (14, 'Fantasy'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (28, 'Action'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10751, 'Family'),
 (28, 'Action'),
 (12, 'Adventure'),
 (53, 'Thriller'),
 (12, 'Adventure'),
 (28, 'Action'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (27, 'Horror'),
 (10751, 'Family'),
 (16, 'Animation'),
 (12, 'Adventure'),
 (36, 'History'),
 (18, 'Drama'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (12, 'Adventure'),
 (28, 'Action'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (28, 'Action'),
 (12, 'Adventure'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (14, 'Fantasy'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (14, 'Fantasy'),
 (878, 'Science Fiction'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (80, 'Crime'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (9648, 'Mystery'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (36, 'History'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (12, 'Adventure'),
 (36, 'History'),
 (18, 'Drama'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10752, 'War'),
 (28, 'Action'),
 (80, 'Crime'),
 (18, 'Drama'),
 (36, 'History'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (14, 'Fantasy'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (80, 'Crime'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (12, 'Adventure'),
 (16, 'Animation'),
 (18, 'Drama'),
 (10751, 'Family'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (28, 'Action'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (10769, 'Foreign'),
 (28, 'Action'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (12, 'Adventure'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (10402, 'Music'),
 (18, 'Drama'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (28, 'Action'),
 (878, 'Science Fiction'),
 (18, 'Drama'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (27, 'Horror'),
 (28, 'Action'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (28, 'Action'),
 (53, 'Thriller'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (36, 'History'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (27, 'Horror'),
 (878, 'Science Fiction'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (10751, 'Family'),
 (18, 'Drama'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (18, 'Drama'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (18, 'Drama'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (27, 'Horror'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (28, 'Action'),
 (35, 'Comedy'),
 (10402, 'Music'),
 (10751, 'Family'),
 (12, 'Adventure'),
 (99, 'Documentary'),
 (80, 'Crime'),
 (28, 'Action'),
 (18, 'Drama'),
 (36, 'History'),
 (10752, 'War'),
 (80, 'Crime'),
 (18, 'Drama'),
 (80, 'Crime'),
 (28, 'Action'),
 (35, 'Comedy'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (10769, 'Foreign'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (28, 'Action'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (10752, 'War'),
 (28, 'Action'),
 (53, 'Thriller'),
 (9648, 'Mystery'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (10402, 'Music'),
 (99, 'Documentary'),
 (35, 'Comedy'),
 (99, 'Documentary'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10751, 'Family'),
 (18, 'Drama'),
 (80, 'Crime'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (27, 'Horror'),
 (28, 'Action'),
 (80, 'Crime'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (28, 'Action'),
 (35, 'Comedy'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (9648, 'Mystery'),
 (80, 'Crime'),
 (18, 'Drama'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (28, 'Action'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (99, 'Documentary'),
 (53, 'Thriller'),
 (28, 'Action'),
 (80, 'Crime'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (28, 'Action'),
 (53, 'Thriller'),
 (28, 'Action'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (18, 'Drama'),
 (18, 'Drama'),
 (80, 'Crime'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (28, 'Action'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (28, 'Action'),
 (18, 'Drama'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (878, 'Science Fiction'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (9648, 'Mystery'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (28, 'Action'),
 (12, 'Adventure'),
 (878, 'Science Fiction'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (10769, 'Foreign'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (28, 'Action'),
 (35, 'Comedy'),
 (35, 'Comedy'),
 (14, 'Fantasy'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (18, 'Drama'),
 (36, 'History'),
 (10749, 'Romance'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (878, 'Science Fiction'),
 (27, 'Horror'),
 (28, 'Action'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (28, 'Action'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (28, 'Action'),
 (18, 'Drama'),
 (28, 'Action'),
 (37, 'Western'),
 (18, 'Drama'),
 (12, 'Adventure'),
 (28, 'Action'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (10751, 'Family'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10752, 'War'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10751, 'Family'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (27, 'Horror'),
 (9648, 'Mystery'),
 (18, 'Drama'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (9648, 'Mystery'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (28, 'Action'),
 (12, 'Adventure'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (9648, 'Mystery'),
 (80, 'Crime'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (35, 'Comedy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (36, 'History'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (16, 'Animation'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (36, 'History'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (14, 'Fantasy'),
 (16, 'Animation'),
 (878, 'Science Fiction'),
 (10751, 'Family'),
 (18, 'Drama'),
 (28, 'Action'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (99, 'Documentary'),
 (18, 'Drama'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (18, 'Drama'),
 (10402, 'Music'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (18, 'Drama'),
 (28, 'Action'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (27, 'Horror'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (28, 'Action'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (12, 'Adventure'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (878, 'Science Fiction'),
 (10751, 'Family'),
 (28, 'Action'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (12, 'Adventure'),
 (28, 'Action'),
 (878, 'Science Fiction'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (10752, 'War'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (28, 'Action'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (36, 'History'),
 (18, 'Drama'),
 (27, 'Horror'),
 (878, 'Science Fiction'),
 (10749, 'Romance'),
 (28, 'Action'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (28, 'Action'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (27, 'Horror'),
 (878, 'Science Fiction'),
 (28, 'Action'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (28, 'Action'),
 (18, 'Drama'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (36, 'History'),
 (18, 'Drama'),
 (18, 'Drama'),
 (36, 'History'),
 (18, 'Drama'),
 (36, 'History'),
 (28, 'Action'),
 (37, 'Western'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (10402, 'Music'),
 (9648, 'Mystery'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (9648, 'Mystery'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (10770, 'TV Movie'),
 (27, 'Horror'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (16, 'Animation'),
 (18, 'Drama'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (28, 'Action'),
 (53, 'Thriller'),
 (28, 'Action'),
 (12, 'Adventure'),
 (878, 'Science Fiction'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (18, 'Drama'),
 (80, 'Crime'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (10752, 'War'),
 (28, 'Action'),
 (35, 'Comedy'),
 (14, 'Fantasy'),
 (878, 'Science Fiction'),
 (27, 'Horror'),
 (35, 'Comedy'),
 (53, 'Thriller'),
 (878, 'Science Fiction'),
 (28, 'Action'),
 (12, 'Adventure'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (27, 'Horror'),
 (878, 'Science Fiction'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (18, 'Drama'),
 (10752, 'War'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (28, 'Action'),
 (80, 'Crime'),
 (878, 'Science Fiction'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (9648, 'Mystery'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10402, 'Music'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (35, 'Comedy'),
 (53, 'Thriller'),
 (28, 'Action'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (80, 'Crime'),
 (9648, 'Mystery'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10751, 'Family'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (14, 'Fantasy'),
 (28, 'Action'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (28, 'Action'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (18, 'Drama'),
 (10751, 'Family'),
 (99, 'Documentary'),
 (10769, 'Foreign'),
 (10751, 'Family'),
 (16, 'Animation'),
 (18, 'Drama'),
 (18, 'Drama'),
 (36, 'History'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (9648, 'Mystery'),
 (14, 'Fantasy'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (14, 'Fantasy'),
 (28, 'Action'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (37, 'Western'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (18, 'Drama'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (18, 'Drama'),
 (28, 'Action'),
 (12, 'Adventure'),
 (80, 'Crime'),
 (53, 'Thriller'),
 (28, 'Action'),
 (12, 'Adventure'),
 (80, 'Crime'),
 (35, 'Comedy'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (878, 'Science Fiction'),
 (28, 'Action'),
 (80, 'Crime'),
 (28, 'Action'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (28, 'Action'),
 (37, 'Western'),
 (28, 'Action'),
 (80, 'Crime'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (28, 'Action'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (18, 'Drama'),
 (18, 'Drama'),
 (28, 'Action'),
 (80, 'Crime'),
 (80, 'Crime'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (16, 'Animation'),
 (878, 'Science Fiction'),
 (28, 'Action'),
 (12, 'Adventure'),
 (53, 'Thriller'),
 (28, 'Action'),
 (35, 'Comedy'),
 (28, 'Action'),
 (12, 'Adventure'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (27, 'Horror'),
 (53, 'Thriller'),
 (99, 'Documentary'),
 (10749, 'Romance'),
 (12, 'Adventure'),
 (80, 'Crime'),
 (18, 'Drama'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (28, 'Action'),
 (53, 'Thriller'),
 (35, 'Comedy'),
 (99, 'Documentary'),
 (28, 'Action'),
 (14, 'Fantasy'),
 (878, 'Science Fiction'),
 (27, 'Horror'),
 (9648, 'Mystery'),
 (53, 'Thriller'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (80, 'Crime'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (14, 'Fantasy'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (35, 'Comedy'),
 (80, 'Crime'),
 (10402, 'Music'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (28, 'Action'),
 (35, 'Comedy'),
 (28, 'Action'),
 (12, 'Adventure'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (37, 'Western'),
 (35, 'Comedy'),
 (18, 'Drama'),
 (10749, 'Romance'),
 (18, 'Drama'),
 (35, 'Comedy'),
 (14, 'Fantasy'),
 ...]

In [81]:
genre = genre.reduceByKey(lambda a, b : a)

In [82]:
genre.count()

51

In [83]:
genre.collect()

[(16, 'Animation'),
 (12, 'Adventure'),
 (28, 'Action'),
 (80, 'Crime'),
 (36, 'History'),
 (9648, 'Mystery'),
 (10752, 'War'),
 (6308, 'U.S. Office of War Information'),
 (11176, 'Carousel Productions'),
 (29812, 'Telescene Film Group Productions'),
 (7760, 'BROSTA TV'),
 (8424, 'Fides Films'),
 (18012, 'Pulser Productions'),
 (10749, 'Romance'),
 (53, 'Thriller'),
 (10769, 'Foreign'),
 (37, 'Western'),
 (2957, 'Double Play'),
 (13993, 'Meadway-Claude Productions Company'),
 (8453, 'Télévision Suisse-Romande (TSR)'),
 (7761, 'Mardock Scramble Production Committee'),
 (7105, 'Mwana Productions'),
 (17161, 'Odyssey Media'),
 (18013, 'Rogue State'),
 (14, 'Fantasy'),
 (18, 'Drama'),
 (878, 'Science Fiction'),
 (10402, 'Music'),
 (10770, 'TV Movie'),
 (9386, 'First Motion Pictures Unit US Army Air Forces'),
 (11602, 'Vision View Entertainment'),
 (60250, 'WhiteFlame Productions'),
 (7850, 'Sciapode'),
 (34034, 'LStar Capital'),
 (7106, 'Sylicone'),
 (23822, 'The Cartel'),
 (11778, 'F Comme Film'),
 (35, 'Comedy'),
 (10751, 'Family'),
 (27, 'Horror'),
 (99, 'Documentary'),
 (3279, 'Vox3 Films'),
 (3459, 'Serenade Films'),
 (219, 'The Mirisch Corporation'),
 (6003, 'Box Productions'),
 (11687, 'Le Fresnoy Studio National des Arts Contemporains'),
 (3287, 'Screen Gems'),
 (2883, 'Aniplex'),
 (7759, 'GoHands'),
 (33751, 'Sentai Filmworks'),
 (89695, 'Trois Brigands Productions')]

In [84]:
genres = genre.sortByKey(ascending=True)