# Descomposición de datos de películas

El propósito de esta notebook es separar los datos, y generar datasets normalizados e independientes, para poder ser guardados en tablas de Apache Hive.

Creación de la sesión de Spark

In [50]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Movies data decompositon").getOrCreate()

In [2]:
from pyspark.sql.types import  *
from pyspark.sql.functions import col, from_json, regexp_replace

Directorios de lectura y escritura

In [3]:
hadoop_base_directory = 'hdfs://192.168.56.101:9000/obligatorio'
hadoop_datasets_folder = f'{hadoop_base_directory}/datasets_parquet'
hadoop_dest_folder = 'hdfs://192.168.56.101:9000/obligatorio/processed_tables'

# Procesamiento de dataset de películas

Lectura de dataset de películas de HDFS:

In [4]:
movies = spark.read.format("parquet").option("header", "true").option("mode", "DROPMALFORMED").option("escape","\"").option("quote", "\"").load(f'{hadoop_datasets_folder}/movies_metadata')

In [5]:
movies.show(10, truncate=False)

+-----+---------------------+--------+----------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------+------+---------+-----------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------+--------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+---------------------------------------------------------------------------------+----------------------------------------+-----------------------------------------------+-----------------------+-------------------+------------+----------+----+----+----+----+
|adult|belongs_to_collection|budget  |genres                                                                                                                            |homepage                                       |id    |imdb_id  |original_language|original_title     |overview                                                                                                                                                                                                                                                                                                                                                                                                                                      |popularity                                                                                                    |poster_path                     |production_companies                                                                                                                                                                                                                                                                                                                                                      |production_countries                                                                                                                                                                                                                                             |release_date                                                                                                                                     |revenue   |runtime  |spoken_languages                                                                 |status                                  |tagline                                        |title                  |video              |vote_average|vote_count|c_0 |c_1 |c_2 |c_3 |
+-----+---------------------+--------+----------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------+------+---------+-----------------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------+--------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------+----------+---------+---------------------------------------------------------------------------------+----------------------------------------+-----------------------------------------------+-----------------------+-------------------+------------+----------+----+----+----+----+
|False|null                 |0       |[{'id': 16, 'name': 'Animation'}]                                                                                                 |null                                           |36072 |tt0351382|en               |Atama-yama         |A miserly man eats the pits of some cherries he can't stand throwing out. A tree starts growing from the top of his head. He cuts it off; it grows back. After a while, he gives up and lets it grow, but the crowds that gather on top of his head to enjoy the tree (and leave huge mounds of trash) eventually drive him to uproot the tree. This leaves a crater on top of his head, which fills with water, which becomes a popular lake.|0.339732                                                                                                      |/s7zcJ7uOjdBeyMLctWQG2c3Phbs.jpg|[]                                                                                                                                                                                                                                                                                                                                                                        |[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                                                                                                                          |2002-01-01                                                                                                                                       |0         |10       |[{'iso_639_1': 'ja', 'name': '日本語'}]                                          |Released                                |null                                           |Mount Head             |False              |6.6         |9         |null|null|null|null|
|False|null                 |68000000|[{'id': 10752, 'name': 'War'}, {'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}]                                         |null                                           |228150|tt2713180|en               |Fury               |"Last months of World War II in April 1945. As the Allies make their final push in the European Theater, a battle-hardened U.S. Army sergeant in the 2nd Armored Division named Wardaddy commands a Sherman tank called ""Fury"" and its five-man crew on a deadly mission behind enemy lines. Outnumbered and outgunned                                                                                                                      | Wardaddy and his men face overwhelming odds in their heroic attempts to strike at the heart of Nazi Germany."|36.713807                       |/pfte7wdMobMF4CVHuOxyu6oqeeA.jpg                                                                                                                                                                                                                                                                                                                                          |[{'name': 'Columbia Pictures', 'id': 5}, {'name': 'QED International', 'id': 11029}, {'name': 'Crave Films', 'id': 16312}, {'name': 'LStar Capital', 'id': 34034}, {'name': 'Huayi Brothers Media', 'id': 39649}, {'name': 'Le Grisbi Productions', 'id': 47169}]|[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CN', 'name': 'China'}]|2014-10-15|211817906|135                                                                              |[{'iso_639_1': 'en', 'name': 'English'}]|Released                                       |War never ends quietly.|Fury               |False       |7.4       |4028|null|null|null|
|False|null                 |0       |[{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}, {'id': 10770, 'name': 'TV Movie'}]                               |http://www.hallmarkchannel.com/myboyfriendsdogs|298317|tt3647110|en               |My Boyfriends' Dogs|The owners of a small diner are surprised one rainy evening when, just after close, a young woman wearing a wedding dress with three dogs in tow begs to come into their restaurant. What follows is the young woman's retelling of how she arrived at this curious junction in her life and how, through the search for the right man, she ended up as a runaway bride with three new dogs.                                                  |1.628644                                                                                                      |/ufELF9URmDaXymEP9MqdeqF3kAq.jpg|"[{'name': 'Gross-Weston Productions', 'id': 35816}, {'name': '24 Frames Digital Films', 'id': 35817}, {'name': ""Boyfriend's Dogs Films""                                                                                                                                                                                                                                | 'id': 35818}]"                                                                                                                                                                                                                                                  |[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                       |2014-10-18|0        |84                                                                               |[{'iso_639_1': 'en', 'name': 'English'}]|Released                                       |null                   |My Boyfriends' Dogs|False       |6.2       |5   |null|null|null|
|False|null                 |10500000|[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name': 'Western'}]                                                                      |null                                           |266285|tt2720680|da               |The Salvation      |In 1870s America, a peaceful American settler kills his family's murderer which unleashes the fury of a notorious gang leader. His cowardly fellow townspeople then betray him, forcing him to hunt down the outlaws alone.                                                                                                                                                                                                                   |8.253705                                                                                                      |/b8uBcz6CgXOUsZhf2Y4RLHCwk19.jpg|[{'name': 'Zentropa Productions', 'id': 1880}, {'name': 'Spier Films', 'id': 8275}, {'name': 'Forward Films', 'id': 17748}]                                                                                                                                                                                                                                               |[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'BE', 'name': 'Belgium'}]                                         |2014-05-22                                                                                                                                       |42070000  |100      |[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_639_1': 'en', 'name': 'English'}]   |Released                                |Bad men will bleed.                            |The Salvation          |False              |6.2         |285       |null|null|null|null|
|False|null                 |0       |[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]                                                                    |null                                           |75007 |tt1077394|en               |S.I.S.             |S.I.S., or Special Investigation Squad, is an elite branch of the LAPD. A new psychopath terrorizing Los Angeles proves to be their hardest case yet.                                                                                                                                                                                                                                                                                         |0.681523                                                                                                      |/cjeeYtmGpMlA5UMgqttuHd3Y9s1.jpg|[]                                                                                                                                                                                                                                                                                                                                                                        |[]                                                                                                                                                                                                                                                               |2008-08-24                                                                                                                                       |0         |79       |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released                                |null                                           |S.I.S.                 |False              |4           |6         |null|null|null|null|
|False|null                 |30000000|[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]                                                                   |null                                           |215211|tt2095649|en               |Grace of Monaco    |The story of former Hollywood star Grace Kelly's crisis of marriage and identity, during a political dispute between Monaco's Prince Rainier III and France's Charles De Gaulle, and a looming French invasion of Monaco in the early 1960s.                                                                                                                                                                                                  |6.773278                                                                                                      |/7jFZ4r1CTNW2we5rUVx29IcuOZh.jpg|[{'name': 'Gaumont', 'id': 9}, {'name': 'TF1 Films Productions', 'id': 356}, {'name': 'Lucky Red', 'id': 779}, {'name': 'Canal+', 'id': 5358}, {'name': 'uFilm', 'id': 8676}, {'name': 'Silver Reel', 'id': 12075}, {'name': 'Umedia', 'id': 19037}, {'name': 'Od Shots', 'id': 35404}, {'name': 'YRF Entertainment', 'id': 51938}, {'name': 'Stone Angels', 'id': 51940}]|[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'CH', 'name': 'Switzerland'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                  |2014-05-14                                                                                                                                       |0         |103      |[{'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'en', 'name': 'English'}]|Released                                |null                                           |Grace of Monaco        |False              |5.8         |201       |null|null|null|null|
|False|null                 |0       |[{'id': 18, 'name': 'Drama'}]                                                                                                     |null                                           |224282|tt1423636|en               |Torn               |Two families bond when their teenage sons are killed in an explosion at a suburban mall only to discover one of their children is the prime suspect.                                                                                                                                                                                                                                                                                          |0.316591                                                                                                      |/9IKR3NHt7OumiaWupd4BsvSLood.jpg|[{'name': 'Fog City Pictures', 'id': 16930}, {'name': 'Precept Productions', 'id': 41425}, {'name': 'Objective 49', 'id': 41426}]                                                                                                                                                                                                                                         |[{'iso_3166_1': 'PK', 'name': 'Pakistan'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                                             |2013-10-18                                                                                                                                       |0         |80       |[{'iso_639_1': 'en', 'name': 'English'}]                                         |Released                                |null                                           |Torn                   |False              |0           |0         |null|null|null|null|

In [6]:
movies.count()

45463

Nombres de los atributos, y selección de atributos relevantes

In [7]:
a_adult = "adult"
a_belongs_to = "belongs_to_collection"
a_budget = "budget"
a_genres = "genres"
a_id = "movie_id"
a_original_language = "original_language"
a_original_title = "original_title"
a_overview = "overview"
a_popularity = "popularity"
a_prod_companies = "production_companies"
a_production_countries = "production_countries"
a_release_date = "release_date"
a_revenue = "revenue"
a_spoken_languages = "spoken_languages"
a_title = "title"
a_vote_average = "vote_average"
a_vote_count = "vote_count"

relevant_fields = [a_adult, a_budget, a_genres, a_id, a_original_language, a_original_title,
                   a_overview, a_popularity, a_prod_companies, a_production_countries, a_release_date,
                  a_revenue, a_spoken_languages, a_title]

movies_selected_fields = [a_adult, a_budget, a_id, a_original_language, a_original_title, a_overview,
                          a_popularity, a_release_date, a_revenue, a_title]

Los datos son todos de tipo String inicialmente

In [8]:
movies.dtypes

[('adult', 'string'),
 ('belongs_to_collection', 'string'),
 ('budget', 'string'),
 ('genres', 'string'),
 ('homepage', 'string'),
 ('id', 'string'),
 ('imdb_id', 'string'),
 ('original_language', 'string'),
 ('original_title', 'string'),
 ('overview', 'string'),
 ('popularity', 'string'),
 ('poster_path', 'string'),
 ('production_companies', 'string'),
 ('production_countries', 'string'),
 ('release_date', 'string'),
 ('revenue', 'string'),
 ('runtime', 'string'),
 ('spoken_languages', 'string'),
 ('status', 'string'),
 ('tagline', 'string'),
 ('title', 'string'),
 ('video', 'string'),
 ('vote_average', 'string'),
 ('vote_count', 'string'),
 ('c_0', 'string'),
 ('c_1', 'string'),
 ('c_2', 'string'),
 ('c_3', 'string')]

Definición del esquema de los campos JSON, para darles formato y poder trabajarlos.

In [9]:
genres_schema = ArrayType(
    StructType([StructField("id", IntegerType()), 
                StructField("name", StringType())]))

prod_companies_schema = ArrayType(
    StructType([StructField("id", IntegerType()),
                StructField("name", StringType())]))

prod_countries_schema = ArrayType(
    StructType([StructField("iso_3166_1", StringType()),
                StructField("name", StringType())]))

spoken_languages_schema = ArrayType(
    StructType([StructField("iso_639_1", StringType()),
                StructField("name", StringType())]))

Formateo de datos a sus tipos originales

In [10]:
movies = movies.withColumn(a_adult, (movies.adult).cast("Boolean"))\
         .withColumn(a_id, (movies.id).cast("Integer"))\
         .withColumn(a_budget, (movies.budget).cast("Integer"))\
         .withColumn(a_genres, from_json(movies.genres, genres_schema))\
         .withColumn(a_prod_companies, from_json(movies.production_companies, prod_companies_schema))\
         .withColumn(a_production_countries, from_json(movies.production_countries, prod_countries_schema))\
         .withColumn(a_spoken_languages, from_json(movies.spoken_languages, spoken_languages_schema))\
         .withColumn(a_popularity, (movies.popularity).cast("Float"))\
         .withColumn(a_release_date, (movies.release_date).cast("Date"))\
         .withColumn(a_revenue, (movies.revenue).cast("Integer"))\
         .withColumn(a_vote_average, (movies.vote_average).cast("Float"))\
         .withColumn(a_vote_count, (movies.vote_count).cast("Integer"))

Eliminación de registros mal formados y con id duplicado

In [11]:
movies = movies.na.drop(subset=[a_adult, a_id, a_budget, a_genres, a_prod_companies, a_production_countries, 
                   a_spoken_languages, a_popularity, a_revenue, a_vote_average, a_vote_count])\
         .dropDuplicates(subset=[a_id])

Selección de los atributos seleccionados para el dataset de peliculas, definidos anteriormente, eliminando los que no son.

In [12]:
movies = movies[relevant_fields]

# Incorporación de Ratings calculados

Los ratings fueron calculados por un script de pig y estan guardados en HDFS también, los Ids que tienen asociados, no son los mismos que los de movies_metadata, pero existe la correlacion entre los ids de movies y de ratings, en el dataset links, el cual se utilizará.

Direcciones de los ratinngs y links en HDFS

In [13]:
hadoop_ratings_addr = f'{hadoop_base_directory}/ratings'
hadoop_links_addr = f'{hadoop_datasets_folder}/links'

Esquema de datos de dataset de ratings.

In [14]:
a_rating = "rating"
a_vote_count = "vote_count"

ratings_schema = StructType([
    StructField(a_id, IntegerType(), True),
    StructField(a_rating, FloatType(), True),
    StructField(a_vote_count, IntegerType(), True)
])

Id de links correspondiente a movies_metadata:

In [15]:
a_tmdbId = "tmdbId"

In [16]:
ratings = spark.read.format("csv").option("header", "true").schema(ratings_schema).load(hadoop_ratings_addr, header=False)
links = spark.read.format("parquet").option("header", "true").load(hadoop_links_addr, header=True)

Elimincación de nulos y duplicados en links

In [17]:
ratings = ratings.na.drop(subset=[a_id])\
          .dropDuplicates(subset=[a_id])

In [18]:
links = links.withColumn(a_id, (links.movieId).cast("Integer"))\
             .withColumn(a_tmdbId, (links.tmdbId).cast("Integer"))[a_id, a_tmdbId]

Unión de ratings con links:

In [19]:
ratings_links = ratings.join(links, on=[a_id])

In [20]:
ratings = ratings_links.withColumn(a_id, (ratings_links.tmdbId).cast("Integer"))\
                 .withColumn(a_rating, (ratings_links.rating).cast("Float"))[a_id, a_rating, a_vote_count]

Unión de los ratings con las peliculas:

In [21]:
movies = movies.join(ratings, on=[a_id], how='left')

Escritura de la tabla formateada de películas en HDFS:

In [22]:
movies.write.mode('overwrite').parquet(f'{hadoop_dest_folder}/movies')

### Separación de atributos compuestos en tablas separadas

Definición de funciones para separar datos desestructurados de un dataset, en un dataset distinto, y para almacenar los datasets.

In [23]:
def separate_normalized_tables(df,entity_name, entity_identifier = "id", table_id = "movie_id"):
    sub_df = df.select([table_id,entity_name])
    sub_df = sub_df.filter(sub_df[entity_name].isNotNull())
    rdd = sub_df.rdd
    movie_entity = rdd.flatMap(lambda r: map(lambda g: (r[table_id], g[entity_identifier]), r[entity_name]))
    entity = rdd.flatMap(lambda r: r[entity_name])
    entity = entity.map(tuple)
    entity = entity.reduceByKey(lambda a, b : a)
    return entity, movie_entity

In [24]:
def store_rdd(rdd, fields, table_name):
    df = rdd.toDF(fields)
    df.write.mode('overwrite').parquet(f'{hadoop_dest_folder}/{table_name}')

Invocación de la función para separar los atributos compuestos

In [25]:
genre, movie_genre = separate_normalized_tables(movies,a_genres)
prod_company, movie_prod_company = separate_normalized_tables(movies, a_prod_companies)
country, movie_prod_country = separate_normalized_tables(movies, a_production_countries, "iso_3166_1")
language, movie_spoken_language = separate_normalized_tables(movies, a_spoken_languages, "iso_639_1")

Nombres que tendran los nuevos datasets:

In [26]:
t_movies = "movies"
t_genres = "genres"
t_movies_genres = "movies_genres"
t_prod_companies = "prod_companies"
t_movies_prod_companies = "movies_prod_companies"
t_countries = "prod_countries"
t_movies_countries = "movies_prod_countries"
t_languages = "spoken_languages"
t_movies_languages = "movies_spoken_languages"

Escritura de los datasets:

In [27]:
store_rdd(genre, ["id", "name"], t_genres)
store_rdd(movie_genre, ["id_movie", "id_genre"], t_movies_genres)
store_rdd(prod_company, ["id", "name"], t_prod_companies)
store_rdd(movie_prod_company, ["id_movie", "id_prod_company"], t_movies_prod_companies)
store_rdd(country, ["id", "name"], t_countries)
store_rdd(movie_prod_country, ["id_movie", "id_prod_country"], t_movies_countries)
store_rdd(language, ["id", "name"], t_languages)
store_rdd(movie_spoken_language, ["id_movie", "id_spoken_language"], t_movies_languages)

# Procesamiento de dataset Keywords

Lectura de dataset de keywords:

In [28]:
keywords = spark.read.format("parquet").option("header", "true").option("escape","\"").load(f'{hadoop_datasets_folder}/keywords')

Formato de el campo desestructurado de keywords:

In [29]:
a_keywords = "keywords"

keywords_schema = ArrayType(
    StructType([StructField("id", IntegerType()), 
                StructField("name", StringType())]))

Formateo de los datos a sus tipos correspondientes:

In [30]:
keywords = keywords.withColumn("id", (keywords.id).cast("Integer"))\
                   .withColumn("keywords", from_json(keywords.keywords, keywords_schema))

In [31]:
keywords.dtypes

[('id', 'int'), ('keywords', 'array<struct<id:int,name:string>>')]

In [32]:
keyword, movie_keyword = separate_normalized_tables(keywords,"keywords", table_id="id")

In [33]:
t_keyword = "keywords"
t_movies_keywords = "movies_keywords"

In [34]:
store_rdd(keyword, ["id", "name"], t_keyword)
store_rdd(movie_keyword, ["id_movie", "id_keyword"], t_movies_keywords)

# Procesamiento de dataset Credits

In [35]:
hadoop_credits_addr = f'{hadoop_datasets_folder}/credits'

In [36]:
credits = spark.read.format("parquet").option("header", "true").option("escape","\"").load(hadoop_credits_addr)

Se sustituyen None por String vacío

In [37]:
credits = credits.withColumn('cast', regexp_replace('cast', ': None', ": ''"))\
          .withColumn('crew', regexp_replace('crew', ': None', ": ''"))

Definición de esquema para actores y personal

In [38]:
a_cast = "cast"
a_crew = "crew"


crew_schema = ArrayType(
    StructType([StructField("credit_id", StringType()), 
                StructField("department", StringType()),
                StructField("gender", IntegerType()),
                StructField("id", IntegerType()),
                StructField("job", StringType()),
                StructField("name", StringType()),
                StructField("profile_path", StringType())
               ]))

cast_schema = ArrayType(
    StructType([StructField("cast_id", IntegerType()), 
                StructField("character", StringType()),
                StructField("credit_id", StringType(), True),
                StructField("gender", IntegerType(), True),
                StructField("id", IntegerType()),
                StructField("name", StringType()),
                StructField("order", IntegerType(), True),
                StructField("profile_path", StringType(), True),
               ]))

Formateo de dataset de créditos

In [39]:
credits = credits.withColumn("id", (credits.id).cast("Integer"))\
                  .withColumn("cast", from_json(credits.cast, cast_schema))\
                  .withColumn("crew", from_json(credits.crew, crew_schema))

In [40]:
credits.dtypes

[('cast',
  'array<struct<cast_id:int,character:string,credit_id:string,gender:int,id:int,name:string,order:int,profile_path:string>>'),
 ('crew',
  'array<struct<credit_id:string,department:string,gender:int,id:int,job:string,name:string,profile_path:string>>'),
 ('id', 'int')]

### Extracción del campo cast (actores):

In [41]:
sub_df = credits.select(["id","cast"])
sub_df = sub_df.filter(sub_df["cast"].isNotNull())
rdd = sub_df.rdd
movie_cast = rdd.flatMap(lambda r: map(lambda g: (r.id, g["id"]), r["cast"]))
cast = rdd.flatMap(lambda r: r["cast"])
cast = rdd.flatMap(lambda r: r["cast"])
cast = cast.map(lambda e: (e.id, (e.cast_id, e.character, e.gender, e.name, e.order)))
cast = cast.reduceByKey(lambda a, b : a)
cast = cast.map(lambda t: (t[0], t[1][0], t[1][1], t[1][2], t[1][3], t[1][4]))

Nombres para los nuevos datasets:

In [42]:
t_cast = "cast"
t_movies_cast = "movies_cast"

Escritura de los nuevos datasets en HDFS:

In [43]:
store_rdd(cast, ["id", "cast_id", "character", "gender", "name", "order"], t_cast)
store_rdd(movie_cast, ["id_movie", "cast_id"], t_movies_cast)

### Extracción del campo crew (personal):

In [44]:
sub_df = credits.select(["id","crew"])
sub_df = sub_df.filter(sub_df["crew"].isNotNull())
rdd = sub_df.rdd
movie_crew = rdd.flatMap(lambda r: map(lambda g: (r.id, g["id"]), r["crew"]))
crew = rdd.flatMap(lambda r: r["crew"])
crew = crew.map(lambda e: (e.id, (e.department, e.gender, e.job)))
crew = crew.reduceByKey(lambda a, b : a)
crew = crew.map(lambda t: (t[0], t[1][0], t[1][1], t[1][2]))

In [53]:
cast.take(10)

AttributeError: 'NoneType' object has no attribute 'sc'

Nombres para los nuevos datasets:

In [46]:
t_crew = "crew"
t_movie_crew = "movies_crew"

Escritura de los nuevos datasets en HDFS:

In [47]:
store_rdd(crew, ["id", "department", "gender", "job"], t_crew)
store_rdd(movie_crew, ["id_movie", "crew_id"], t_movie_crew)

Cierre de la sesión de Spark

In [48]:
spark.stop()